.photo-grid {  
  margin: 92px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 14px;
  padding: 0 48px;
}

@media (max-width: 800px) {
  .photo-grid {
    margin-top: 88px;
    gap: 16px;
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    margin-top: 64px;
    gap: 12px;
    padding: 0 16px;
  }
}