.places {
  margin: 92px auto;
  max-width: 984px;
  padding: 0 48px;
}

@media (max-width: 800px) {
  .places {
    margin: 88px 0 90px;
    padding: 0 24px;
  }
}

@media (max-width: 425px) {
  .places {
    margin:64px 0 66px;
    padding: 0;
  }
}