.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.12;
}

.footer__link:hover {
  color: blue;
}

@media (max-width: 712px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}