.footer__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 18px;
}

@media (max-width: 712px) {
    .footer__links {
      flex-direction: column;
      gap: 32px;
    }
  }