.cover__background {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  color: inherit;
  z-index: 1;
  width: 100%;
  min-height: 640px;
}

.cover__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

.cover__background:hover::after {
  opacity: .8;
}

@media (min-width: 1140px) {
  .cover__background {
    min-height: 740px;
  }
}

@media (max-width: 800px) {
  .cover__background {
    min-height: 480px;
  }
}

@media (max-width: 712px) {
  .cover__background {
    min-height: 445px;
  }
}

@media (max-width: 625px) {
  .cover__background {
    min-height: 390px;
  }
}

@media (max-width: 425px) {
  .cover__background {
    min-height: 265px;
  }
}

@media (max-width: 325px) {
  .cover__background {
    min-height: 200px;
  }
}