.cover__background {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 195px 232px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100% 100%;
  color: inherit;
  z-index: 1;
}

.cover__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

.cover__background:hover::after {
  opacity: .8;
}



@media (min-width: 1280px) {
  .cover__background {
    padding: 245px 312px;
  }
}

@media (max-width: 988px) {
  .cover__background {
    padding: 80px 52px;
  }
}

@media (max-width: 800px) {
  .cover__background {
    padding: 115px 104px;
  }
}

@media (max-width: 625px) {
  .cover__background {
    padding: 33px 16px;
  }
}