.place {
  display: grid;
  grid-template-columns:440px 1fr;
  gap: 48px 32px;
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns:460px 1fr;
    column-gap: 40px;
  }
}

@media (max-width: 800px) {
  .place {
    grid-template-columns:340px 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 625px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}