.place__website-url {
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media (max-width: 425px) {
  .place__website-url {
    padding: 0 16px;
  }
 }